/* --------- Aneliza --------- */
@font-face {
    font-family: 'Aneliza';
    src: local('Aneliza-Regular') , local('Aneliza-Regular'),
     url(../fonts/Aneliza-Regular.woff2) format('woff2');
     font-weight: 400 ;
     font-style: normal;
     font-display: swap ;
}

@font-face {
    font-family: 'Aneliza';
    src: local('Aneliza-Medium') , local('Aneliza-Medium'),
     url(../fonts/Aneliza-Medium.woff2) format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aneliza';
    src: local('Aneliza-SemiBold') , local('Aneliza-SemiBold'),
     url(../fonts/Aneliza-SemiBold.woff2) format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


/* --------- Russisch Sans --------- */
@font-face {
    font-family: 'RussischSans';
    src: local('RussischSans-Medium') , local('RussischSans-Medium'),
     url(../fonts/RussischSans-Medium.woff2) format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RussischSans';
    src: local('RussischSans-SemiBold') , local('RussischSans-SemiBold'),
     url(../fonts/RussischSans-SemiBold.woff2) format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}