.contacts {
    padding: 48px 0 100px;
}

.contacts_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}


.contacts_inner:before {
    content: '';
    position: absolute;
    top: 290px;
    right: 400px;
    width: 390px;
    height: 390px;
    border-radius: 50%;
    background: rgba(138, 225, 149, 0.2);
    box-shadow: 0 0 200px 160px rgba(138, 225, 149, 0.2);
    pointer-events: none;

}

.contacts__details-list,
.contacts__details,
.contacts__emails,
.contacts__email-block,
.contacts__subtitle,
.contacts__info {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.contacts__emails,
.contacts__info {
    gap: 48px;
}

.contacts__subtitle span {
    margin-top: 4px;
    color: var(--typograph-brown);
}

.contacts__phone-link {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 8px;
}

.contacts__phone {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 40px;
    line-height: 130%;
    color: var(--typograph-black);
}

.contacts__whatsapp {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    background: #226000;
    border-radius: 50%;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 0;
    line-height: 150%;
    color: var(--typograph-white-primary);
    transition: var(--transition);
}

.contacts__whatsapp:hover {
    background: #163e00;
}

.contacts__whatsapp:active {
    background: #000;
}



.contacts__subtitle {
    gap: 4px;
}

.contacts__email {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 40px;
    line-height: 130%;
    color: var(--typograph-sand);
    margin-top: 8px;
}

.contacts__email span {
    transition: var(--transition);
    color: var(--typograph-black);
}

.contacts__email:hover span {
    color: var(--typograph-blue);
}

.contacts__details {
    position: relative;
    border-radius: 24px;
    max-width: 687px;
}




.contacts__details-top {
    display: flex;
    align-items: center;
    padding: 20px 24px;
    border-bottom: 1px solid var(--stroke-secondary-interface);
}

.contacts__details-title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 156%;
    letter-spacing: -0.01em;
    color: var(--typograph-black);
}

.contacts__download {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0;
    color: var(--typograph-black);
    position: relative;
}

.contacts_tootip {
    position: absolute;
    top: -58px;
    border-radius: 16px;
    white-space: nowrap;
    padding: 12px 16px;
    background: var(--typograph-black);
    color: var(--typograph-white-primary);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: var(--transition);
}


.contacts__download:hover .contacts__download-tootip {
    opacity: 1;
    visibility: visible;
}

.contacts__details-list {
    padding: 32px 0;
}



.contacts__details-list li {
    display: flex;
    align-items: start;
    gap: 12px;
    padding: 8px 24px;
    width: 100%;
    transition: var(--transition);
    cursor: pointer;
    position: relative;

}

.contacts__details-list li .copy-btn-tooltip {
    width: fit-content;
}

.copy-btn.copied .copy-btn-tooltip {
    opacity: 1;
    visibility: visible;


}

.contacts__details-list li span {
    width: 100px;
    flex-shrink: 0;
}

.contacts__value {
    display: flex;
    align-items: center;
    gap: 14px;
    font-size: 18px;
    line-height: 156%;
    letter-spacing: -0.01em;
}


.copy-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: var(--transition);
    font-weight: 500;
    line-height: 156%;
    letter-spacing: -0.01em;
}

.contacts__details-list li:hover {
    background: var(--background-page);
}

.contacts__details-list li:hover .copy-btn {
    opacity: 1;
}



.solution {
    padding: 100px 0;
}

.solution_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.solution_author-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;
    margin-top: 132px;
}



.solution_author-descript {
    font-size: 18px;
    line-height: 156%;
    letter-spacing: -0.01em;
    color: var(--typograph-black);
    max-width: 526px;
}

.solution_img {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    max-width: 448px;
    width: 100%;
    box-shadow: 0 0 200px 100px rgba(225, 202, 138, 0.2);
}

.solution_img img {
    width: 100%;
    box-shadow: inset 0 0 266px 60px rgba(225, 202, 138, 0.2);
}