@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat-medium') , local('Montserrat-Medium')
     url(../fonts/Montserrat-Medium.woff) format('woff'), 
     url(../fonts/Montserrat-Medium.woff2) format('woff2');
     font-weight: 500 ;
     font-style: normal;
     font-display: swap ;
}
@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat-Regular') , local('Montserrat-Regular')
     url(../fonts/Montserrat-Regular.woff) format('woff'), 
     url(../fonts/Montserrat-Regular.woff2) format('woff2');
     font-weight: normal;
     font-style: normal;
     font-display: swap ;
}
@font-face {
    font-family: 'Gabriola';
    src: local('Gabriola') , local('Gabriola')
     url(../fonts/Gabriola.woff) format('woff'), 
     url(../fonts/Gabriola.woff2) format('woff2');
     font-weight: normal ;
     font-style: normal;
     font-display: swap ;
}