:root {
    --font-family: "Inter", sans-serif;
    --second-family: "Inter Tight", sans-serif;
    --transition: all .2s;

    --typograph-black: #261000;
    --typograph-black-secondary: rgba(0, 0, 0, 0.5);
    --typograph-white-primary: #fff;
    --typograph-white-secondary: rgba(255, 255, 255, 0.7);
    --typograph-blue: #094bba;
    --typograph-brown: #7c3f1a;
    --typograph-sand: #bab17a;
    --typograph-green: #14c24f;
    --typograph-more-whom-1: #8362d4;
    --typograph-more-whom-2: #4379b9;
    --typograph-more-whom-3: #28827d;

    --background-cream-primary: #ede4d8;
    --background-cream-secondary: #f4f2eb;
    --background-cream-tertiary: #f1eee7;
    --background-accent-button: #0377ff;
    --background-page: #f7f5f0;
    --background-big-card: #fff;
    --background-overlay: rgba(54, 51, 48, 0.48);
    --stroke-secondary-interface: rgba(0, 0, 0, 0.12);
    --stroke-interractive-block: rgba(255, 255, 255, 0.4);
    --more-green-background: #e4edd8;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5vw;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: always;
}

.body {
    font-family: "Inter", "Inter Tight", sans-serif;
    color: var(--typograph-black);
}

.wrapper {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
    background: var(--background-page);
}

.main {
    flex-grow: 1;
    margin-top: 116px;
}



.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
    width: 100%;
}



.first_title {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 48px;
    line-height: 125%;
    color: var(--typograph-black);
}

.second_title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 40px;
    line-height: 130%;
    color: var(--typograph-black);
}

.section_wht {
    border-radius: 28px;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.04);
    background: var(--typograph-white-primary);
}

.descript {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--typograph-black-secondary);
}


.blue_element {
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: var(--transition);
    box-shadow: 0 4px 24px 0 rgba(6, 62, 160, 0.12), 0 4px 20px 0 rgba(6, 62, 160, 0.4);
    background: radial-gradient(95.6% 92.05% at 17.92% 13.75%, #93cdf5 0%, #0b57db 100%), var(--background-accent-button);
}

.blue_element>* {
    position: relative;
    z-index: 1;
}

.blue_element:before {
    content: '';
    position: absolute;
    inset: 0;
    transition: var(--transition);
    opacity: 0;
    z-index: -2;
    background: radial-gradient(95.6% 92.05% at 17.92% 13.75%, #6ab8ed 0%, #0b57db 100%);
}

.blue_element:hover {
    box-shadow: none;
}

.blue_element:hover:before {
    opacity: 1;
}

.blue_element::after {
    content: ' ';
    position: absolute;
    inset: 0;
    transition: var(--transition);
    opacity: 0;
    z-index: -1;
    background: var(--background-accent-button);
}

.blue_element:active:after {
    opacity: 1;
}

.light_btn,
.slider_prev,
.slider_next {
    display: block;
    padding: 16px;
    border-radius: 50%;
    background: var(--background-cream-primary);
    border: 1px solid var(--stroke-interractive-block);
    transition: var(--transition);
}

.slider_next img {
    transform: rotate(180deg);
}

.light_btn:hover,
.slider_prev:hover,
.slider_next:hover {
    border: 1px solid rgba(0, 0, 0, 0.12);
    background: #fff3e3;
}

.light_btn:active,
.slider_prev:active,
.slider_next:active {
    background: #fadeb8;
}

.social_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--typograph-white-primary);
    border-radius: 20px;
    padding: 16px 24px;
    background: #226000;
    transition: var(--transition);
    flex-shrink: 0;
}

.social_btn svg {
    margin-right: 12px;
}

.social_btn:hover {
    background: #163e00;
}

.social_btn:active {
    background: #000;
}


.cookie_popup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 16px;
    right: 16px;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
    gap: 10px;
    padding: 12px 12px 12px 24px;
    box-shadow: 0 0 40px 0 rgba(15, 27, 52, 0.24);
    background: var(--typograph-white-primary);
    border-radius: 24px 32px 32px 24px;
    max-width: 440px;
    z-index: 999;
}

.cookie_text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    letter-spacing: -0.01em;
    color: #000;
}

.cookie_btn {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--typograph-black);
    padding: 16px 24px;
    border: 1px solid var(--stroke-interractive-block);
    background: var(--background-cream-primary);
    border-radius: 20px;
    width: 100%;
    max-width: 111px;
    transition: var(--transition);
}

.cookie-show {
    opacity: 1;
    visibility: visible;
}


.cookie_btn:hover {
    border: 1px solid var(--stroke-secondary-interface);
    background: #fff3e3;
}

.cookie_btn:active {
    background: #fadeb8;
}

.breadcrumb-list {
    position: relative;
    padding: 0 60px;
}


.breadcrumb-list::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1px;
    height: 1px;
    pointer-events: none;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.12) 0%, rgba(0, 0, 0, 0) 60%);
}

.breadcrumb {
    display: flex;
    align-items: center;
    gap: 33px;
    padding: 8px 0 20px;
}

.breadcrumb li {
    position: relative;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    list-style: none;
}

.breadcrumb li:not(:first-child):before {
    content: '';
    position: absolute;
    left: -18px;
    top: 10px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #bab17a;
}



.breadcrumb li a {
    color: var(--typograph-black);
    transition: var(--transition);
    cursor: pointer;
}

.breadcrumb li a:hover {
    color: var(--typograph-blue);
}

.breadcrumb li a:active {
    color: var(--typograph-brown);
}

.breadcrumb li:last-child a,
.breadcrumb li:last-child span {
    cursor: pointer;
    transition: var(--transition);
    color: var(--typograph-black-secondary);
}

.breadcrumb li:last-child a:hover,
.breadcrumb li:last-child span:hover {
    color: var(--typograph-black);
}

.breadcrumb li:last-child a:active,
.breadcrumb li:last-child span:active {
    color: var(--typograph-brown);
}



/* header */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 12px 12px 0;
    z-index: 100;
}


.header_section {
    padding: 0px 48px;
    display: flex;
    width: 100%;
    height: 104px;
    align-items: center;
    justify-content: space-between;
    transition: height 0.3s ease, border-radius 0.3s ease;
}

.scroll .header {
    padding: 0;
}

.scroll .header_section {
    height: 64px;
    border-radius: 0 0 28px 28px;
}

body.header-drop-menu {
    overflow: hidden;
}

.header_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header_logo {
    max-width: 142px;
    width: 100%;
    margin-right: 60px;
}

.logo-mb {
    display: none;
}

.header_center {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.menu_title {
    display: none;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 156%;
    letter-spacing: -0.01em;
    color: var(--typograph-black);
    margin-bottom: 24px;
}

.menu_title button {
    font-size: 30px;
    padding: 0 8px;
}

.nav_list {
    display: flex;
    align-items: center;
    gap: 24px;
}

.nav_list li a {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    transition: var(--transition);
}

.nav_list li a:hover {
    color: var(--typograph-blue);
}

.nav_list .current-menu-item a {
    position: relative;
    color: var(--typograph-blue);
}

.nav_list .current-menu-item a::before {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 50%;
    right: 50%;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background: var(--typograph-blue);
}

.language-switcher {
    position: relative;
    max-width: 174px;
    width: 100%;
}

.language-switcher__toggle {
    display: flex;
    align-items: center;
    text-align: left;
    gap: 8px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--typograph-black);
}

.language-switcher__toggle img {
    max-width: 24px;
    width: 100%;
}

.language-switcher__toggle span {
    display: flex;
    flex-shrink: 0;
}

.language-switcher__toggle svg {
    transition: var(--transition);
    transform: rotate(0);
}

.language-switcher__list {
    position: absolute;
    z-index: 10;
    top: 45px;
    left: -37.5px;
    display: flex;
    flex-direction: column;
    border-radius: 32px;
    padding: 12px;
    box-shadow: 0 0 40px 0 rgba(15, 27, 52, 0.24);
    background: var(--typograph-white-primary);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-50%);
    transition: var(--transition);
}

.language-switcher.lang-open .language-switcher__list {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.language-switcher.lang-open .language-switcher__toggle {
    color: var(--typograph-blue);
}

.language-switcher.lang-open .language-switcher__toggle path {
    fill: var(--typograph-blue);
}

.language-switcher.lang-open .language-switcher__toggle svg {
    transform: rotate(180deg);
}



.language-switcher__list li button {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--typograph-black);
    border-radius: 24px;
    padding: 12px 24px;
    border: 0.50px solid var(--stroke-interractive-block);
    width: 229px;
    transition: var(--transition);
}

.language-switcher__list li button:hover {
    background: var(--background-cream-primary);
}

.language-switcher__list li button:active {
    background: var(--background-cream-primary);
    color: var(--typograph-brown);
}


.language-switcher__list li img {
    max-width: 24px;
    width: 100%;
}

.lang-active button {
    background: var(--background-cream-primary);
}


.header_whatsapp{
        margin-left: 24px;
}

.header_whatsapp span {
    margin-right: 5px;
}



.scroll .header_whatsapp {
    color: #226000;
    background: transparent;
    padding: 16px 12px;
    margin-left: 12px;
}

.scroll .header_whatsapp svg {
    margin-right: 8px;
}

.scroll .header_whatsapp:hover {
    color: #379d00;
}

.scroll .header_whatsapp:active {
    color: var(--typograph-black);
}

.scroll .header_whatsapp path {
    fill: #226000;
    transition: var(--transition);
}

.scroll .header_whatsapp:hover path {
    fill: #379d00;
}

.scroll .header_whatsapp:active path {
    fill: var(--typograph-black);
}

.header_dropdown-btn {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    padding: 22px 19px;
    border-radius: 50%;
    background: var(--background-cream-primary);
    border: 1px solid var(--stroke-interractive-block);
    transition: var(--transition);
}

.header_dropdown-btn span {
    width: 18px;
    height: 2px;
    background-color: var(--typograph-black);
}

.header_dropdown-btn:hover {
    border-color: rgba(0, 0, 0, 0.12);
    background: #fff3e3;
}

.header_dropdown-btn:active {
    background: #fadeb8;
}




/* footer */

.footer_top {
    display: flex;
    padding: 100px 0 112px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    mask-image: linear-gradient(to bottom, transparent, black 20%, black 90%, transparent),
        linear-gradient(to right, black 95%, transparent 100%);
    mask-composite: intersect;
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
}

.footer_top-inner {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.footer_top-img-wrapp {
    position: relative;
    max-width: 274px;
}

.footer_img-main {
    border-radius: 40px;
    width: 100%;
}

.footer_img-badge {
    position: absolute;
    bottom: -35px;
    right: -75px;
    max-width: 158px;
    background: radial-gradient(circle, rgba(63, 94, 251, .7) 0%, rgba(245, 245, 245, 0) 55%);
}

.footer_img-badge img {
    transform: scaleX(-1);
    width: 100%;
}



.footer_content-head {
    max-width: 828px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 32px;
}

.footer_btn-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
}


.footer_btn {
    display: flex;
    flex-direction: column;
    align-items: start;
    border-radius: 24px;
    background: var(--typograph-black);
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 48px;
    line-height: 125%;
    color: var(--typograph-white-primary);
    transition: var(--transition);
}

.footer_btn:hover {
    background: #5d2700;
}

.footer_btn:active {
    background: #441c00;
}

.footer_btn-item .blue_element {
    padding: 10px 28px;
    border: 0.50px solid var(--stroke-interractive-block);
    border-radius: 20px;
    background: radial-gradient(95.6% 92.05% at 17.92% 13.75%, #93cdf5 0%, #0b57db 100%), var(--background-accent-button);
}

.footer_btn-item .blue_element span {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 156%;
    letter-spacing: -0.01em;
    text-decoration: line-through;
    color: var(--typograph-white-secondary);
    margin-bottom: -12.8px;
}


.contacts__email {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 40px;
    line-height: 130%;
    color: var(--typograph-sand);
    margin-top: 8px;
}

.contacts__email span {
    transition: var(--transition);
    color: var(--typograph-black);
}

.contacts__email:hover span {
    color: var(--typograph-blue);
}


.footer_top-contact {
    background: none;
    mask-image: none;
    mask-composite: unset;
}

.footer_contact {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 72px;
}




.footer_contact-descript {
    font-size: 18px;
    line-height: 156%;
    letter-spacing: -0.01em;
    text-align: center;
    margin-top: 12px;
}


.footer__emails {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 40px;
    row-gap: 48px;
}

.footer__email-block {
    display: flex;
    flex-direction: column;
    align-items: start;
}


.footer__whatsapp {
    gap: 12px;
    margin: 0;
    grid-column: 1/3;
    width: 100%;
}

.footer_main {
    padding: 72px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.footer_main-inner ul {
    display: flex;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
}


.footer_main-inner ul li {
    position: relative;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.footer_main-inner ul li:first-child:before {
    display: none;
}

.footer_main-inner ul li::before {
    content: '';
    position: absolute;
    left: -15px;
    top: 10px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #bab17a;
}

.footer_main-inner ul a {
    text-decoration: underline;
    transition: var(--transition);

}

.footer_main-inner ul a:hover {
    color: var(--typograph-blue);
    text-decoration: none;
}

.footer_main-inner ul a:active {
    color: var(--typograph-brown);
}

.footer_main-logo {
    display: block;
    max-width: 222px;
    margin-bottom: 24px;
}

.footer_main-logo img {
    width: 100%;
}

.footer_info-list {
    margin-top: 12px;
}

.footer_info-item {
    color: var(--typograph-black-secondary);
}


.footer_bottom {
    padding: 72px 0;
}

.footer_bottom-inner {
    display: flex;
    align-items: center;
    gap: 24px;
}

.footer_bottom-logo {
    max-width: 136px;
}

.footer_bottom-logo img {
    width: 100%;
}

.footer_descript {
    max-width: 915px;
}