.help_archive {
    padding: 60px 0 100px;
}

.help_archive-inner {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
}

.help_archive-sidebar {
    display: block;
    position: sticky;
    top: 80px;
    width: 100%;
    max-width: 272px;
}

.dropdow-help-title {
    display: none;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 156%;
    letter-spacing: -0.01em;
    color: var(--typograph-black);
    margin-bottom: 24px;
}


.dropdow-help-title button {
    font-size: 30px;
    padding: 0 8px;
}

.help_sidebar-open {
    display: none;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 20px;
}

.help_sidebar-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
}

.help_sidebar-item {
    width: 100%;
}

.help_sidebar-item a {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 24px;
    border-radius: 24px;
    background: transparent;
    transition: var(--transition);
    color: var(--typograph-black);
    width: 100%;
}

.category-icon {
    max-width: 24px;
    height: 24px;
}

.category-icon path {
    transition: var(--transition);
}

.help_sidebar-item a:hover {
    color: var(--typograph-blue);
    background: var(--background-cream-tertiary);
}

.current-cat.help_sidebar-item a {
    color: var(--typograph-brown);
    background: var(--background-cream-primary);
}

.help_sidebar-item a:hover .category-icon path {
    fill: var(--typograph-blue);
}

.current-cat.help_sidebar-item a .category-icon path {
    fill: var(--typograph-brown);
}


.help_archive-content {
    display: flex;
    flex-direction: column;
    max-width: 880px;
    width: 100%;
}

.archive_content-top {
    border-bottom: 1px solid var(--stroke-secondary-interface);
    padding: 48px;
}

.archive_content-bottom {
    padding: 48px 0 36px;
}

.help_archive-list {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.help_archive-item {
    width: 100%;
}

.help_archive-item a {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--typograph-blue);
    padding: 12px 48px;
    background: transparent;
    transition: var(--transition);
}

.help_archive-item a:hover {
    background: var(--background-page);
}