.hero {
    padding: 48px 0 120px;
    overflow: hidden;
}

.hero .container {
    position: relative;
}

.hero .container::before {
    content: '';
    top: 35%;
    left: -43px;
    position: absolute;
    border-radius: 24px;
    width: 1320px;
    height: 369px;
    z-index: 1;
    background: linear-gradient(180deg, #f7f5f0 0%, rgba(255, 255, 255, 0) 100%);
}

.hero_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 24px;
    margin-bottom: 47px;
}

.hero_title {
    max-width: 800px;
}

.hero_play-btn {
    display: flex;
    align-items: center;
    position: relative;
    gap: 24px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 156%;

}

.hero_play-btn span {
    background: linear-gradient(90deg, #0047a9 0%, #006bff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 1;
}

.hero_play-btn::before {
    content: '';
    position: absolute;
    background-size: cover;
    z-index: -1;
    background: url('../image/backgr/bg-play-btn.webp') center center / contain no-repeat;
    width: 798px;
    height: 798px;
    top: -340px;
    left: -164px;
    z-index: 0;
}




.play_btn-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    flex-shrink: 0;
}

.hero_main {
    position: relative;
}

.hero_slider {
    border-radius: 24px;
    box-shadow: 0 0 40px 0 rgba(15, 27, 52, 0.24);
    position: relative;
}

.hero_slider__slide img {
    width: 100%;
}

.hero_slider-nav {
    position: absolute;
    top: 40%;
    left: -30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 105%;
    z-index: 5;
}

.hero_slider-nav button {
    position: relative;
}


.hero_slider__button-prev::before {
    content: '';
    position: absolute;
    top: -7px;
    left: 27px;
    width: 36px;
    height: 72px;
    z-index: -1;
    background: rgba(255, 255, 255, 0.5);
    border-top-right-radius: 36px;
    border-bottom-right-radius: 36px;
}

.hero_slider__button-next:before {
    content: '';
    position: absolute;
    top: -7px;
    left: -8px;
    width: 36px;
    height: 72px;
    z-index: -1;
    background: rgba(255, 255, 255, 0.5);
    border-top-left-radius: 36px;
    border-bottom-left-radius: 36px;
}



.hero_main .hero_slider__pagination {
    position: absolute;
    bottom: -320%;
    right: 6%;
    left: unset;
    z-index: 5;
    width: unset;
}

.swiper-pagination-bullet {
    background: var(--background-cream-primary);
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: var(--typograph-brown);
}




.hero_play-btn-mb {
    display: none;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 24px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--typograph-black);
    border-radius: 20px;
    background: var(--background-cream-primary);
    border: 1px solid transparent;
    transition: var(--transition);
}

.play_btn-wrap-mb img {
    width: 32px;
    height: 32px;
    filter: brightness(0);
}

.hero_play-btn-mb:hover {
    border: 1px solid var(--stroke-secondary-interface);
    background: #fff3e3;
}

.hero_play-btn-mb:active {
    background: #fadeb8;
}


.video-popup {
    position: fixed;
    inset: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .7);
    z-index: 999;
}

.video-popup.video-active {
    display: flex;
}

.video-popup__content {
    position: relative;
    max-width: 800px;
    width: 90%;
}

.video-popup__close {
    position: absolute;
    top: -40px;
    right: -10px;
    font-size: 32px;
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
}

video {
    width: 100%;
    height: auto;
    border-radius: 10px;
}




.slide-mb {
    display: none;
}

.hero_main-btn {
    position: absolute;
    bottom: -18%;
    left: 13.5%;
    display: flex;
    align-items: center;
    gap: 12px;
    z-index: 10;
}

.sensor_btn {
    display: flex;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 156%;
    color: var(--typograph-white-primary);
    border-radius: 24px;
    max-width: 444px;
}

.sensor_btn-content {
    display: flex;
    flex-direction: column;
    margin: 24px 0 24px 24px;
    flex-shrink: 0;
    overflow: hidden;
}

.sensor_btn-content span {
    margin-top: 14px;
}

.sensor_btn-content img {
    width: 24px;
}

.sensor_price-wrap {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 4px;
}

.sensor_price-wrap span {
    font-weight: 400;
    letter-spacing: -0.01em;
    text-decoration: line-through;
    color: var(--typograph-white-secondary);
    margin: 0;
}


.sencor_btn-img {
    display: flex;
    max-width: 180px;
    flex-shrink: 0;

}

.sencor_btn-img img {
    width: 100%;
    height: 100%;
}

.apps_btn {
    display: flex;
    max-width: 444px;
    padding: 8px;
    border-radius: 24px;
    background: #F7F5EF;
    overflow: hidden;

}

.apps_btn-content {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    letter-spacing: -0.01em;
    margin: 16px 0 16px 16px;
    flex-shrink: 0;
    max-width: 240px;

}

.apps_btn-content span {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 156%;
    color: var(--typograph-blue);
    margin-top: 18px;
    transition: var(--transition);
}

.apps_btn:hover .apps_btn-content span {
    color: var(--typograph-black);
}

.apps_btn:active .apps_btn-content span {
    color: var(--typograph-brown);
}

.apps_btn-img {
    display: flex;
    flex-shrink: 0;
    max-width: 180px;
}

.apps_btn-img img {
    width: 100%;
    height: 100%;
}




/* section - sensor */

.sensor {
    padding: 80px 0 48px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    mask-image:
        linear-gradient(to bottom, transparent, black 20%, black 80%, transparent),
        linear-gradient(to right, black 90%, transparent 100%);
    mask-composite: intersect;
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
}

.sensor_inner {
    display: flex;
    align-items: center;
    gap: 80px;
}

.sensor_img-mb {
    display: none;
}

.sensor_img-pc {
    max-width: 310px;
}

.sensor_img-mb img,
.sensor_img-pc img {
    width: 100%;
}

.sensor_title {
    max-width: 828px;
}

.sensor_content {
    margin: 20px 0 52px;
    display: flex;
    flex-direction: column;
    gap: 72px;
    width: 100%;
}

.sensor_btn-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 732px;
}

.sensor-swiper {
    width: 100%;
}

.sensor_btn-item {
    max-width: 98px;
}

.sensor_slide-img {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    width: 98px;
    height: 98px;
    cursor: pointer;
    box-shadow: none;
}

.sensor_slide-img img {
    width: 100%;

}

.sensor_btn-item:last-child .sensor_slide-img {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 156%;
    letter-spacing: -0.01em;
    color: var(--typograph-white-primary);
}

.sensor_btn-item:last-child .sensor_slide-img span {
    font-weight: 600;
    font-size: 40px;
}

.sensor_ask {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-top: 16px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--typograph-black-secondary);
    transition: var(--transition);
}

.sensor_ask:hover {
    color: var(--typograph-black);
}

.sensor_ask:active {
    color: var(--typograph-brown);
}


.sensor_popup {
    position: fixed;
    inset: 0;
    display: flex;
    opacity: 0;
    visibility: hidden;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    transition: var(--transition);
}

.sensor_popup.sensor-open {
    opacity: 1;
    visibility: visible;
}

.sensor_popup-wrapper {
    position: relative;
    overflow: hidden;
    background: #fff;
    border-radius: 24px;


}

.sensor_popup-wrapper::after {
    content: "";
    position: absolute;
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    pointer-events: none;
    background: linear-gradient(to top, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 0) 100%);
}

.sensor-close {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 30px;
    line-height: 60%;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 100;
}

.sensor_popup-top {
    position: relative;
    padding: 24px 48px;
}

.sensor_popup-top::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1px;
    height: 2px;
    pointer-events: none;
    background: linear-gradient(to right,
            rgba(0, 0, 0, 0.12) 0%,
            rgba(0, 0, 0, 0) 100%);
}

.sensor_popup-title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 156%;
    letter-spacing: -0.01em;
}

.sensor_popup-main {
    padding: 24px 0 24px 48px;
    max-height: calc(100vh - 150px);
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.sensor_popup-main::-webkit-scrollbar {
    display: none;
}

.sensor_popup-list {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.sensor_popup-item {
    display: flex;
    align-items: center;
    gap: 48px;
}

.sensor_popup-img {
    display: block;
    background: var(--background-cream-secondary);
    border-radius: 24px;
}

.sensor_popup-img img {
    width: 98px;
}

.sensor_popup-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 4px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding: 24px 48px 24px 0px;
    max-width: 700px;
}

.sensor_popup-content h5 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 156%;
    letter-spacing: -0.01em;
    color: var(--typograph-black);
}

.sensor_popup-content p {
    font-size: 18px;
    line-height: 156%;
    letter-spacing: -0.01em;
}

.at-bottom .sensor_popup-wrapper::after {
    opacity: 0;
}

/* section - application */

.application {
    padding: 100px 0;
}

.application_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 38px;
    overflow: hidden;
}

.application_title {
    text-align: center;
}

.application_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.application_tabs {
    overflow: visible;
}

.application_slider-nav {
    display: none;
}

.application_tabs-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;
}

.application_slider-nav {
    position: absolute;
    top: 24px;
    right: 16px;
    z-index: 2;
}


.application_tabs-item {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 24px;
    border-radius: 24px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    max-width: 552px;
    position: relative;
    cursor: pointer;
}

.application_item-img {
    max-width: 72px;
}

.application_item-img img {
    width: 100%;
}

.application_item-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
}

.application_item-title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--typograph-black);
}


.application_tabs-img {
    position: relative;
    z-index: 1;
}


.application_img-item {
    max-width: 645px;

}

.application_img-item img {
    width: 100%;
}

.tab-progress {
    position: absolute;
    top: 32%;
    right: -5%;
    width: 48px;
    height: 48px;
    background: #fff;
    opacity: 0;
    padding: 12px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab-progress::after {
    content: "";
    font-size: 14px;
    color: var(--typograph-black);
    position: absolute;
    opacity: 0;
    transition: opacity .2s;
    background: url(../image/icon/ic-pause.svg) center center / cover no-repeat;
    width: 24px;
    height: 24px;
    pointer-events: none;
}

.application_tabs-item.paused .tab-progress::after {
    opacity: 1;
}


.tab-progress svg {
    transform: rotate(-90deg);
}

.tab-progress circle {
    fill: none;
    stroke-width: 3;
}

.tab-progress .bg {
    stroke: #fff;
}


.tab-progress .progress {
    stroke: var(--typograph-black);
    stroke-dasharray: 100 100;
    stroke-dashoffset: 100;
    transition: stroke-dashoffset linear;
    transition: var(--transition);
}

.application_tabs-item.paused .tab-progress .progress {
    opacity: 0;
}


.application_tabs-item.apps-active .progress {
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 5s linear;

}

.application_img-item {
    display: none;
}



.application_img-item.apps-active {
    display: block;
}

.application_tabs-item.swiper-slide-active,
.application_tabs-item.apps-active {
    background: var(--background-cream-secondary);
    border: 1px solid transparent;
}

.application_tabs-item.apps-active .tab-progress {
    opacity: 1;
}

/* section - controls */

.controls {
    padding: 100px 0;
}

.controls_inner {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 72px;
}

.controls_title {
    max-width: 828px;
}

.controls_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.controls_card-list {
    display: flex;
    align-items: center;
    gap: 12px;
}

.controls_card-item {
    border-radius: 24px;
}

.contols_card-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 28px;
    max-width: 392px;
    max-height: 532px;
    overflow: hidden;
    background: url(../image/backgr/controls_circle-bg.webp) center bottom / contain no-repeat;
}

.controls_card-title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--typograph-black);
}

.controls_card-descript {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    letter-spacing: -0.01em;
    margin: 12px 0 20px;
    color: #00000085;
}

.controls_card-img {
    max-width: 300px;
}

.controls_card-img img {
    width: 100%;
}

.controls_apps {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
    justify-content: space-between;
}

.controls_apps-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    padding: 48px 0 48px 48px;
}

.controls_apps-descript {
    max-width: 402px;
}


.controls_apps-link {
    display: flex;
    align-items: end;
    gap: 48px;
    margin-top: 32px;
}

.controls_qr {
    max-width: 120px;
}

.controls_qr img {
    width: 100%;
}

.controls_apps-btn {
    display: flex;
    align-items: center;
    gap: 12px;
}

.controls_apps-demo {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--typograph-white-primary);
    border-radius: 20px;
    padding: 16px 24px;
    flex-shrink: 0;
}

.controls_apps-appstore {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 0;
    line-height: 150%;
    padding: 11px;
    background: #e5e5e6;
    border-radius: 12px;
    border: 1px solid transparent;
    transition: var(--transition);
}

.controls_apps-rustore {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 0;
    line-height: 150%;
    padding: 11px;
    background: #e1e7ff;
    border-radius: 12px;
    transition: var(--transition);
    border: 1px solid transparent;
}

.controls_apps-rustore:hover,
.controls_apps-appstore:hover {
    border: 1px solid var(--stroke-secondary-interface);
}

.controls_apps-rustore:active {
    background: #d5dcff;
}

.controls_apps-appstore:active {
    background: #e0e0e0;
}

.controls_apps-img {
    max-width: 536px;
}

.controls_apps-img img {
    width: 100%;
}

/* section - answer */

.answer {
    padding: 100px 0;
}

.answer_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answer_title {
    text-align: center;
    margin-bottom: 72px;
}

.answer_accord {}

.answer_accord-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.answer_accord_item {
    max-width: 900px;
    position: relative;
}

.answer_accord-btn {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    border: 1px solid var(--stroke-secondary-interface);
    border-radius: 24px;
    padding: 24px;
    background: transparent;
    transition: var(--transition);
    overflow: hidden;
}



.answer_accord-title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 156%;
    letter-spacing: -0.01em;
    color: var(--typograph-black);
    transition: var(--transition);
}

.answer_accord-descript {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    letter-spacing: -0.01em;
    color: var(--typograph-black-secondary);
    max-height: 0;
    margin-top: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease, margin-top 0.3s ease;
}

.answer_accord-descript a {
    transition: var(--transition);
    text-decoration: underline;
}



.answer_open-btn {
    position: absolute;
    top: 16px;
    right: -21px;
    width: 48px;
    height: 48px;
    background: var(--background-cream-secondary);
    padding: 12px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(0);
    transition: var(--transition);
}

.answer_show-more {
    display: block;
    padding: 16px 24px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--typograph-black);
    border-radius: 20px;
    margin-top: 48px;
    background: var(--background-cream-primary);
    border: 1px solid transparent;
    transition: var(--transition);
}

.answer_accord-descript a:hover {
    color: var(--typograph-black);
}

.answer_accord-descript a:active {
    color: var(--typograph-brown);
}

.answer_show-more:hover {
    border: 1px solid var(--stroke-secondary-interface);
    background: #fff3e3;
}

.answer_show-more:active {
    background: #fadeb8;
}

.answer_accord-btn:hover {
    background: var(--background-cream-secondary);
    border: 1px solid transparent;
}

.answer_accord_item:hover .answer_open-btn {
    background: var(--background-cream-primary);
}

.answer_accord-btn:hover .answer_accord-title {
    color: var(--typograph-brown);
}

.answer-active .answer_accord-btn {
    background: var(--background-cream-secondary);
    border: 1px solid transparent;

}

.answer-active .answer_accord-descript {
    margin-top: 8px;
    opacity: 1;
}

.answer-active .answer_open-btn {
    background: var(--typograph-white-primary);
    transform: translateY(50px) rotate(180deg)
}

.answer-active:hover .answer_open-btn {
    background: var(--background-cream-primary);
}

.answer-active:hover .answer_accord-title {
    color: var(--typograph-brown);
}