:root {
    --general-black: #1E1E1E;
    --general-white: #fff;
    --general-color: #A50301;
    --accent-white: #F8F8FF;
    --accent-text: #9f9fa2;
    --transition: all .4s;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5vw;
}

body {
    font-family: 'LTWave', sans-serif;
    font-style: normal;
    line-height: 1.5;
    color: var(--general-black);
}



.title {
    font-weight: 500;
    font-size: 70px;
    line-height: 1.2;
    color: var(--general-black);
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}


.main {
    flex-grow: 1;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

/*******************************************************************/