@font-face {
    font-family: 'LTWave';
    src: local('Wave-medium') , local('Wave-medium')
     url(../fonts/LTWave-Medium.woff) format('woff'), 
     url(../fonts/LTWave-Medium.woff2) format('woff2');
     font-weight: 500 ;
     font-style: normal;
     font-display: swap ;
}
@font-face {
    font-family: 'LTWave';
    src: local('Wave-Bold') , local('Wave-Bold')
     url(../fonts/LTWave-Bold.woff) format('woff'), 
     url(../fonts/LTWave-Bold.woff2) format('woff2');
     font-weight: 700;
     font-style: normal;
     font-display: swap ;
}
@font-face {
    font-family: 'LTWave';
    src: local('Wave-black') , local('Wave-black')
     url(../fonts/LTWave-Black.woff) format('woff'), 
     url(../fonts/LTWave-Black.woff2) format('woff2');
     font-weight: 900 ;
     font-style: normal;
     font-display: swap ;
}